.course-header {
    margin: 30px 200px;
    padding: 10px 40px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    animation: fadeIn .5s ease-in;
}

.course-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    animation: fadeIn .5s ease-in;
}


.university-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 20px;
    width: 250px;
    height: 320px;
}


.university-box-image {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}


.university-btn {
    margin: 0.5rem;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    background: #0044cc;
    color: #fff;
}

.university-btn:hover {
    background: #002e99;
}
 /* body {
    padding-bottom: 91px;   
  } */

  /* #adsterra-bottom-banner { height: 90px; } */

